/*
 * CS Photo Selector
 * @author: Carson Shold (@cshold)
*/

#PhotoSelector {
  width: 100%;
  height: 100%;
  padding: 0;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 10%;
  z-index: 1000;
  color: #333;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  background: rgba(0,0,0,.9);
}

#PhotoSelector,
#PhotoSelector * {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  line-height: normal;
}

#PhotoSelector a,
#PhotoSelector a:active,
#PhotoSelector a:hover,
#PhotoSelector a:visited {
  text-decoration: none;
  color: #3B5998;
}
#PhotoSelector img {
  max-width: none;
}
#PhotoSelector p,
#PhotoSelector ul,
#PhotoSelector li {
  margin: 0;
  padding: 0;
}
#PhotoSelector li {
  list-style-type: none;
}
#PhotoSelector .PhotoSelector_clearfix:before,
#PhotoSelector .PhotoSelector_clearfix:after {
  content: "";
  display: table;
}
#PhotoSelector .PhotoSelector_clearfix:after { clear: both; }
#PhotoSelector .PhotoSelector_clearfix { zoom: 1; }
#PhotoSelector .PhotoSelector_dialog {
  width: 628px;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  background: rgba(82, 82, 82, 0.7);
  overflow: hidden;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
#PhotoSelector .PhotoSelector_dialog #PhotoSelector_buttonClose {
  position: absolute;
  right: 18px;
  top: 17px;
  font-size: 16px;
}
#PhotoSelector .PhotoSelector_dialog #PhotoSelector_buttonClose,
#PhotoSelector .PhotoSelector_dialog #PhotoSelector_buttonClose:active,
#PhotoSelector .PhotoSelector_dialog #PhotoSelector_buttonClose:hover,
#PhotoSelector .PhotoSelector_dialog #PhotoSelector_buttonClose:visited {
  color: #fff;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_form {
  border: 1px solid #3B5998;
  overflow: hidden;
  position: relative;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_header {
  padding: 7px 10px;
  background: #6D84B4;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_content {
  background: #fff;
  padding: 10px;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_searchContainer {
  margin-top: 10px;
  padding: 10px;
  background: #f1f1f1;
  border: solid #cacaca;
  border-width: 1px 0;
  font-weight: bold;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_searchContainer .PhotoSelector_selectedCountContainer {
  float: left;
  padding: 3px 0;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_searchContainer #PhotoSelector_backToAlbums {
  float: right;
  padding: 3px 0;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_photosContainer {
  margin: 10px 0 0;
}

#PhotoSelector .PhotoSelector_content {
  height: 400px;
}

#PhotoSelector .PhotoSelector_dialog .PhotoSelector_albumContainer .PhotoSelector_album {
  position: relative;
  display: inline-block;
  width: 185px;
  margin: 0 8px 14px;
  cursor: pointer;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_albumContainer .PhotoSelector_albumWrap {
  position: relative;
  width: 175px;
  padding: 4px;
  border: 1px solid #ccc;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_albumContainer .PhotoSelector_albumWrap div {
  height: 120px;
  overflow: hidden;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_albumContainer .PhotoSelector_album .PhotoSelector_photoAvatar {
  display: block;
  max-width: 100%;
  border: none;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_photoContainer .PhotoSelector_photo {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  background: #fff;
  padding: 4px;
  margin: 0 5px 3px;
  height: 96px;
  width: 127px;
  overflow: hidden;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_photoContainer .PhotoSelector_photo:hover,
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_albumContainer .PhotoSelector_albumWrap:hover,
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_photoContainer .PhotoSelector_photo.PhotoSelector_photoSelected {
  background: #f0f0f0;
  border-color: #3B5998;
  cursor: pointer;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_photoContainer .PhotoSelector_photo span {
  position: relative;
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_photoContainer .PhotoSelector_photo .PhotoSelector_photoAvatar {
  position: relative;
  display: block;
  width: 120%;
  left: -10%;
  margin: 0 auto;
  border: none;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_photosContainer .PhotoSelector_album .PhotoSelector_photoName {
  display: block;
  width: 100%;
  font-weight: bold;
  text-align: left;
  font-size: 12px;
  padding: 5px 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_photosContainer .PhotoSelector_photo:hover .PhotoSelector_photoSelect {
  display: block;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_photosContainer .PhotoSelector_photo.PhotoSelector_photoDisabled {
  cursor: default;
  opacity: .5;
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_photosContainer .PhotoSelector_photo.PhotoSelector_photoDisabled:hover .PhotoSelector_photoSelect {
  display: none;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_photosContainer .PhotoSelector_photo.PhotoSelector_photoFiltered {
  display: none;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_footer {
  padding: 8px 10px;
  background: #F2F2F2;
  border-top: 1px solid #CCC;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_footer #PhotoSelector_pagePrev,
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_footer #PhotoSelector_pageNext {
  float: left;
  height: 21px;
  width: 22px;
  overflow: hidden;
  text-indent: -999em;
  background: transparent url(../img/photoselector-pagination.png) no-repeat 0 0;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_footer #PhotoSelector_pagePrev {
  background-position: -44px 0;
  margin-right: 2px;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_footer #PhotoSelector_pageNext {
  margin-right: 6px;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_footer #PhotoSelector_pagePrev.PhotoSelector_disabled {
  background-position: -66px 0;
  cursor: default;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_footer #PhotoSelector_pageNext.PhotoSelector_disabled {
  background-position: -22px 0;
  cursor: default;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_footer .PhotoSelector_pageNumberContainer {
  float: left;
  padding: 4px 0 0;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_footer #PhotoSelector_buttonOK,
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_footer #PhotoSelector_buttonCancel {
  float: right;
  background: #3B5998;
  color: #fff;
  font-weight: bold;
  padding: 4px 20px 5px 20px;
  border: 1px solid;
  border-color: #D9DFEA #0E1F5B #0E1F5B #D9DFEA;
}
#PhotoSelector .PhotoSelector_dialog .PhotoSelector_footer #PhotoSelector_buttonCancel {
  border: 1px solid;
  border-color: #999 #999 #888 #999;
  background-color: #eee;
  color: #333;
  margin-right: 8px;
}


/* show/hide album and picture containers */
#PhotoSelector_loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../img/loader.gif) center center no-repeat rgba(255,255,255,0.5);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.PhotoSelector_wrapper {
  position: absolute;
  top: 31px;
  /*left: 670px;*/
  width: 606px;
  overflow: auto;

  /*-webkit-transition: left 0.3s ease-in-out;
  -moz-transition:  left 0.3s ease-in-out;
  -o-transition:    left 0.3s ease-in-out;
  transition:     left 0.3s ease-in-out;*/
}
/* active photo container */
.PhotoSelector_wrapper_active {
  left: 11px;
}
